
fase1/build/.vs/fase1/FileContentIndex/b5984228-a63d-4873-93c0-ef58447c0088.vsidx
fase1/build/.vs/fase1/FileContentIndex/c4eba6c4-833a-422c-8461-6f2f09f67170.vsidx
fase1/build/.vs/fase1/v17/.suo
fase1/build/.vs/fase1/v17/Browse.VC.db
fase1/build/.vs/fase1/v17/Browse.VC.db-shm
fase1/build/.vs/fase1/v17/Browse.VC.db-wal
fase1/build/.vs/fase1/v17/Browse.VC.opendb
fase1/build/.vs/fase1/v17/ipch/AutoPCH/4c31c30f50603ef7/GEOMETRY.ipch
fase1/build/.vs/fase1/v17/ipch/AutoPCH/574e544990d82927/GENERATOR.ipch
fase1/build/.vs/fase1/v17/ipch/AutoPCH/a466eba062c7235c/ENGINE.ipch
fase1/build/.vs/fase1/v17/ipch/AutoPCH/d744ed1550ea6c59/PARSER.ipch
fase1/build/.vs/fase1/v17/ipch/AutoPCH/ff9c789fe80a2bd8/GEOMETRY.ipch
fase1/build/.vs/fase1/v17/Solution.VC.db
fase1/build/.vs/fase1/v17/Solution.VC.db-shm
fase1/build/.vs/fase1/v17/Solution.VC.db-wal
fase1/build/ALL_BUILD.vcxproj
fase1/build/ALL_BUILD.vcxproj.filters
fase1/build/ALL_BUILD.vcxproj.user
fase1/build/cmake_install.cmake
fase1/build/CMakeCache.txt
fase1/build/CMakeFiles/3.29.0-rc2/CMakeCCompiler.cmake
fase1/build/CMakeFiles/3.29.0-rc2/CMakeCXXCompiler.cmake
fase1/build/CMakeFiles/3.29.0-rc2/CMakeDetermineCompilerABI_C.bin
fase1/build/CMakeFiles/3.29.0-rc2/CMakeDetermineCompilerABI_CXX.bin
fase1/build/CMakeFiles/3.29.0-rc2/CMakeRCCompiler.cmake
fase1/build/CMakeFiles/3.29.0-rc2/CMakeSystem.cmake
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdC/CMakeCCompilerId.c
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdC/CompilerIdC.exe
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdC/CompilerIdC.vcxproj
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdC/Debug/CMakeCCompilerId.obj
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdC/Debug/CompilerIdC.exe.recipe
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdCXX/CompilerIdCXX.exe
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdCXX/CompilerIdCXX.vcxproj
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
fase1/build/CMakeFiles/3.29.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
fase1/build/CMakeFiles/3.29.0-rc2/VCTargetsPath.txt
fase1/build/CMakeFiles/3.29.0-rc2/VCTargetsPath.vcxproj
fase1/build/CMakeFiles/3.29.0-rc2/x64/Debug/VCTargetsPath.recipe
fase1/build/CMakeFiles/3.29.0-rc2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
fase1/build/CMakeFiles/cmake.check_cache
fase1/build/CMakeFiles/CMakeConfigureLog.yaml
fase1/build/CMakeFiles/f35b8b09460ea21ece123417b00cd663/generate.stamp.rule
fase1/build/CMakeFiles/generate.stamp
fase1/build/CMakeFiles/generate.stamp.depend
fase1/build/CMakeFiles/generate.stamp.list
fase1/build/CMakeFiles/TargetDirectories.txt
fase1/build/Debug/engine.exe.exe
fase1/build/Debug/engine.exe.pdb
fase1/build/Debug/generator.exe.exe
fase1/build/Debug/generator.exe.pdb
fase1/build/Debug/parser_lib.lib
fase1/build/Debug/parser_lib.pdb
fase1/build/Debug/tinyXML.lib
fase1/build/Debug/tinyXML.pdb
fase1/build/Debug/utils_lib.lib
fase1/build/Debug/utils_lib.pdb
fase1/build/engine.exe.dir/Debug/engine.exe.exe.recipe
fase1/build/engine.exe.dir/Debug/engine.exe.ilk
fase1/build/engine.exe.dir/Debug/engine.exe.log
fase1/build/engine.exe.dir/Debug/engine.exe.tlog/CL.command.1.tlog
fase1/build/engine.exe.dir/Debug/engine.exe.tlog/Cl.items.tlog
fase1/build/engine.exe.dir/Debug/engine.exe.tlog/CL.read.1.tlog
fase1/build/engine.exe.dir/Debug/engine.exe.tlog/CL.write.1.tlog
fase1/build/engine.exe.dir/Debug/engine.exe.tlog/CustomBuild.command.1.tlog
fase1/build/engine.exe.dir/Debug/engine.exe.tlog/CustomBuild.read.1.tlog
fase1/build/engine.exe.dir/Debug/engine.exe.tlog/CustomBuild.write.1.tlog
fase1/build/engine.exe.dir/Debug/engine.exe.tlog/engine.exe.lastbuildstate
fase1/build/engine.exe.dir/Debug/engine.exe.tlog/link.command.1.tlog
fase1/build/engine.exe.dir/Debug/engine.exe.tlog/link.read.1.tlog
fase1/build/engine.exe.dir/Debug/engine.exe.tlog/link.write.1.tlog
fase1/build/engine.exe.dir/Debug/engine.obj
fase1/build/engine.exe.dir/Debug/vc143.pdb
fase1/build/engine.exe.vcxproj
fase1/build/engine.exe.vcxproj.filters
fase1/build/engine.exe.vcxproj.user
fase1/build/fase1.sln
fase1/build/generator.exe.dir/Debug/generator.exe.exe.recipe
fase1/build/generator.exe.dir/Debug/generator.exe.ilk
fase1/build/generator.exe.dir/Debug/generator.exe.log
fase1/build/generator.exe.dir/Debug/generator.exe.tlog/CL.command.1.tlog
fase1/build/generator.exe.dir/Debug/generator.exe.tlog/Cl.items.tlog
fase1/build/generator.exe.dir/Debug/generator.exe.tlog/CL.read.1.tlog
fase1/build/generator.exe.dir/Debug/generator.exe.tlog/CL.write.1.tlog
fase1/build/generator.exe.dir/Debug/generator.exe.tlog/CustomBuild.command.1.tlog
fase1/build/generator.exe.dir/Debug/generator.exe.tlog/CustomBuild.read.1.tlog
fase1/build/generator.exe.dir/Debug/generator.exe.tlog/CustomBuild.write.1.tlog
fase1/build/generator.exe.dir/Debug/generator.exe.tlog/generator.exe.lastbuildstate
fase1/build/generator.exe.dir/Debug/generator.exe.tlog/link.command.1.tlog
fase1/build/generator.exe.dir/Debug/generator.exe.tlog/link.read.1.tlog
fase1/build/generator.exe.dir/Debug/generator.exe.tlog/link.write.1.tlog
fase1/build/generator.exe.dir/Debug/generator.obj
fase1/build/generator.exe.dir/Debug/geometry.obj
fase1/build/generator.exe.dir/Debug/vc143.pdb
fase1/build/generator.exe.vcxproj
fase1/build/generator.exe.vcxproj.filters
fase1/build/generator.exe.vcxproj.user
fase1/build/glut32.dll
fase1/build/output/sphere.3d
fase1/build/parser_lib.dir/Debug/parser.obj
fase1/build/parser_lib.dir/Debug/parser_lib.lib.recipe
fase1/build/parser_lib.dir/Debug/parser_lib.log
fase1/build/parser_lib.dir/Debug/parser_lib.tlog/CL.command.1.tlog
fase1/build/parser_lib.dir/Debug/parser_lib.tlog/Cl.items.tlog
fase1/build/parser_lib.dir/Debug/parser_lib.tlog/CL.read.1.tlog
fase1/build/parser_lib.dir/Debug/parser_lib.tlog/CL.write.1.tlog
fase1/build/parser_lib.dir/Debug/parser_lib.tlog/CustomBuild.command.1.tlog
fase1/build/parser_lib.dir/Debug/parser_lib.tlog/CustomBuild.read.1.tlog
fase1/build/parser_lib.dir/Debug/parser_lib.tlog/CustomBuild.write.1.tlog
fase1/build/parser_lib.dir/Debug/parser_lib.tlog/Lib-link.read.1.tlog
fase1/build/parser_lib.dir/Debug/parser_lib.tlog/Lib-link.write.1.tlog
fase1/build/parser_lib.dir/Debug/parser_lib.tlog/Lib.command.1.tlog
fase1/build/parser_lib.dir/Debug/parser_lib.tlog/parser_lib.lastbuildstate
fase1/build/parser_lib.vcxproj
fase1/build/parser_lib.vcxproj.filters
fase1/build/parser_lib.vcxproj.user
fase1/build/tinyXML.dir/Debug/tinyXML.lib.recipe
fase1/build/tinyXML.dir/Debug/tinyXML.log
fase1/build/tinyXML.dir/Debug/tinyXML.tlog/CL.command.1.tlog
fase1/build/tinyXML.dir/Debug/tinyXML.tlog/Cl.items.tlog
fase1/build/tinyXML.dir/Debug/tinyXML.tlog/CL.read.1.tlog
fase1/build/tinyXML.dir/Debug/tinyXML.tlog/CL.write.1.tlog
fase1/build/tinyXML.dir/Debug/tinyXML.tlog/CustomBuild.command.1.tlog
fase1/build/tinyXML.dir/Debug/tinyXML.tlog/CustomBuild.read.1.tlog
fase1/build/tinyXML.dir/Debug/tinyXML.tlog/CustomBuild.write.1.tlog
fase1/build/tinyXML.dir/Debug/tinyXML.tlog/Lib-link.read.1.tlog
fase1/build/tinyXML.dir/Debug/tinyXML.tlog/Lib-link.write.1.tlog
fase1/build/tinyXML.dir/Debug/tinyXML.tlog/Lib.command.1.tlog
fase1/build/tinyXML.dir/Debug/tinyXML.tlog/tinyXML.lastbuildstate
fase1/build/tinyXML.dir/Debug/tinyxml2.obj
fase1/build/tinyXML.vcxproj
fase1/build/tinyXML.vcxproj.filters
fase1/build/tinyXML.vcxproj.user
fase1/build/utils_lib.dir/Debug/figura.obj
fase1/build/utils_lib.dir/Debug/list.obj
fase1/build/utils_lib.dir/Debug/ponto.obj
fase1/build/utils_lib.dir/Debug/utils_lib.lib.recipe
fase1/build/utils_lib.dir/Debug/utils_lib.log
fase1/build/utils_lib.dir/Debug/utils_lib.tlog/CL.command.1.tlog
fase1/build/utils_lib.dir/Debug/utils_lib.tlog/Cl.items.tlog
fase1/build/utils_lib.dir/Debug/utils_lib.tlog/CL.read.1.tlog
fase1/build/utils_lib.dir/Debug/utils_lib.tlog/CL.write.1.tlog
fase1/build/utils_lib.dir/Debug/utils_lib.tlog/CustomBuild.command.1.tlog
fase1/build/utils_lib.dir/Debug/utils_lib.tlog/CustomBuild.read.1.tlog
fase1/build/utils_lib.dir/Debug/utils_lib.tlog/CustomBuild.write.1.tlog
fase1/build/utils_lib.dir/Debug/utils_lib.tlog/Lib-link.read.1.tlog
fase1/build/utils_lib.dir/Debug/utils_lib.tlog/Lib-link.write.1.tlog
fase1/build/utils_lib.dir/Debug/utils_lib.tlog/Lib.command.1.tlog
fase1/build/utils_lib.dir/Debug/utils_lib.tlog/utils_lib.lastbuildstate
fase1/build/utils_lib.vcxproj
fase1/build/utils_lib.vcxproj.filters
fase1/build/utils_lib.vcxproj.user
fase1/build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.log
fase1/build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.recipe
fase1/build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
fase1/build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
fase1/build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
fase1/build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
fase1/build/ZERO_CHECK.vcxproj
fase1/build/ZERO_CHECK.vcxproj.filters
fase1/build/ZERO_CHECK.vcxproj.user
fase1/build/.vs/fase1/FileContentIndex/d68bf5e2-4b5d-492f-b45f-61df6b81fc1d.vsidx
